<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UFR STA — {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon"       href="{{ url_for('static', filename='images/Logo.jpg') }}" type="image/jpeg">
</head>
<body>

<header class="site-header">
  <div class="header-inner container">

    
    <div class="logo-zone">
      <img src="{{ url_for('static', filename='images/Logo.jpg') }}" alt="Logo UFR STA" class="logo">
      <div>
        <span class="logo-title">UFR STA</span>
        <span class="logo-sub">Sciences et Technologies Avancées</span>
      </div>
    </div>

    
    <button class="burger" onclick="document.getElementById('nav').classList.toggle('open')" aria-label="Menu">☰</button>

    
    <nav>
      <ul class="nav-links" id="nav">
            <li><a href="/">Accueil</a></li>
            <li><a href="/departements">Départements</a></li>
            <li><a href="/formations">Formations</a></li>
            <li><a href="/actualites">Actualités</a></li>
            <li><a href="/activites">Activités</a></li>
            <li><a href="/galerie">Galerie</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/enseignants">Enseignants</a></li>
      </ul>
    </nav>

  </div>
</header>




<main class="main-content">
  {% block content %}{% endblock %}
</main>

<footer class="site-footer">
  <div class="container">
    <div class="footer-grid">

      <div class="footer-col">
        <h4>UFR STA</h4>
        <p>Université Amadou Mahtar MBOW<br>Sciences et Technologies Avancées<br>Dakar, Sénégal</p>
      </div>

      <div class="footer-col">
        <h4>Navigation</h4>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/departements">Départements</a></li>
            <li><a href="/formations">Formations</a></li>
            <li><a href="/actualites">Actualités</a></li>
            <li><a href="/activites">Activités</a></li>
            <li><a href="/galerie">Galerie</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Contact</h4>
        <ul>
          <li><a href="mailto:contact@ufr-sta.sn">contact@ufr-sta.sn</a></li>
          <li><a href="#">+221 33 123 45 67</a></li>
          <li><a href="#">Dakar, Sénégal</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="footer-bottom">
    © 2026 UFR STA — Université Amadou Mahtar MBOW

    <a href="{{ url_for('admin_login') }}" style="color:rgba(255,255,255,0.2)">
    Admin
    </a>
  </div>
</footer>

</body>
</html>