<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Admin — UFR STA</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="admin-layout">

  <!-- SIDEBAR GAUCHE -->
  <aside class="admin-sidebar">

    <!-- Logo -->
    <div class="sidebar-logo">
      <img src="{{ url_for('static', filename='images/Logo.jpg') }}"
           alt="Logo" style="width:46px; height:46px; border-radius:50%; object-fit:cover;">
      <div style="margin-top:0.5rem">
        <span style="color:#fff; font-weight:700; display:block">UFR STA</span>
        <span style="color:rgba(255,255,255,0.4); font-size:0.75rem">Administration</span>
      </div>
    </div>

    <!-- Menu -->
    <div class="sidebar-title">Tableau de bord</div>
    <a href="{{ url_for('admin_dashboard') }}">Vue d'ensemble</a>

    <div class="sidebar-title">Contenu</div>
    <a href="{{ url_for('admin_departements') }}">Départements</a>
    <a href="{{ url_for('admin_formations') }}">Formations</a>
    <a href="{{ url_for('admin_actualites') }}"> Actualités</a>
    <a href="{{ url_for('admin_activites') }}"> Activités</a>
    <a href="{{ url_for('admin_galerie') }}">Galerie</a>

    <div class="sidebar-title">Compte</div>
    <a href="{{ url_for('index') }}"> Voir le site</a>
    <a href="{{ url_for('admin_logout') }}"> Déconnexion</a>

  </aside>

  <!-- CONTENU PRINCIPAL -->
  <main class="admin-main">



    
    {% block admin_content %}{% endblock %}

  </main>

</div>

</body>
</html>